@page
@model IBSANBR.Pages.Conceitos.ConceitosModel
<partial name="_Header" />
<div style="background-color:#f2f2f2;min-height:100%; margin: 16px 0 0 0;">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="column">
                <h2>Conceitos</h2>
                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>IN022 - Consumo Médio per Capita de Água
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Consumo Médio per Capita de Água demonstra o volume de
                                água consumido, em termos litros consumidos por habitante ao dia,
                                levando em conta o total da população da cidade atendida pelos
                                serviços de abastecimento de água.
                            </p>
                            <p>
                                O Índice de Consumo Médio per Capita de Água, segundo a
                                Organização Mundial de Saúde, necessário para suprir as
                                necessidades básicas de uma pessoa é de 110 litros de água por
                                dia. Nas análises realizadas através do Benchmarking observou-se
                                que o consumo de água pelos cidadãos do município de Sete Lagoas
                                situa-se próximo do nível mínimo recomendado pela OMS.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN053 - Consumo Médio de Água por
                        Economia
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Consumo Médio de Água por Economia representa a média do volume
                                de água utilizado por economia, e este é estabelecido a partir da
                                relação com a Quantidade de Economias Ativas de Água.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN023 - Índice de Atendimento Urbano de
                        Água
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Atendimento Urbano de Água mostra, em termos
                                percentuais, a população urbana atendida com serviços de
                                abastecimento de água, em relação á população total do Município
                                informada pelo IBGE.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN055 - Índice de Atendimento Total de
                        Água
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Atendimento Total de Água mostra, em termos
                                percentuais, a população total (urbana/rural) atendida com
                                serviços de abastecimento de água, em relação à população total do
                                Município informada pelo IBGE.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN056 - Índice de Atendimento Total com
                        Coleta de Esgoto
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Atendimento Total com Coleta de Esgoto mostra, em
                                termos percentuais, a população total (urbana/rural) atendida com
                                serviços de coleta de esgotos sanitários, em relação à população
                                total do Município informada pelo IBGE.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN015 - Índice de Coleta de Esgoto
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Coleta de Esgoto informa o nível de atendimento com os
                                serviços à população da cidade, comparando o volume de esgoto
                                coletado em relação ao volume de água consumida.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN016 - Índice de Tratamento de Esgoto
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Tratamento de Esgoto demonstra, em termos percentuais,
                                o volume de esgoto efetivamente tratado pela concessionária da
                                cidade em relação ao volume de esgoto coletado.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN020 - Extensão da Rede de Água por
                        Ligação
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Extensão da Rede de Água por Ligação resulta da
                                relação entre o tamanho da rede de água (em metros), e a
                                quantidade de ligações de água existentes no Município. Cidades de
                                perfil de construção horizontalizado tendem a possuir um número
                                maior de metros de rede por ligação (m/lig), ao passo que aquelas
                                verticalizadas (maior densidade populacional) um número menor.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN025 - Índice de Volume de Água
                        Disponibilizada por Economia
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Volume de Água Disponibilizado por Economia destaca o
                                efeito do uso compartilhado da conexão (ligação) de água em um
                                endereço com várias unidades (economias), relativamente ao volume
                                de água disponibilizado por economia.
                            </p>
                            <p>
                                Centros urbanos mais verticalizados tendem a possuir Índice de
                                Volume de Água Disponibilizado por Economia menor.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN013 - Índice de Perdas de Faturamento
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Perdas de Faturamento demonstra, em termos
                                percentuais, o volume de água produzida (captada, tratada,
                                reservada, aduzida e distribuída) que não é faturada junto aos
                                clientes.
                            </p>
                            <p>
                                Dessa forma, o custo para produzir essa água (energia elétrica,
                                pessoal, produtos químicos, etc.), que representa saída de caixa
                                efetiva, transforma-se em prejuízo financeiro para o
                                CONCESSIONÁRIO DOS SERVIÇOS, uma vez que não foi gerado o
                                faturamento correspondente, o que deveria ocorrer se a água fosse
                                entregue e consumida pelo usuário.
                            </p>
                            <p>
                                O Índice de Perdas de Faturamento acima da meta, ou do
                                benchmarking estabelecido, é um
                                <b>sintoma de ineficiência</b> de gestão operacional dos sistemas
                                de abastecimento de água. E, pelo que representa em termos de
                                custo real para o prestador de serviços, deve ser intensamente
                                combatido, mantendo-se o mais baixo possível.
                            </p>
                            <p>
                                <b>Do ponto de vista do usuário</b> dos serviços o alto índice de
                                perdas também é perverso, pois os custos de produção da água não
                                utilizada refletem diretamente na composição e formação de preços
                                da tarifa a ser cobrada.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN051 - Índice de Perdas por Ligação
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Perdas por Ligação quantifica, fisicamente, o volume
                                desperdiçado de água produzida (captada, tratada, reservada,
                                aduzida e distribuída) não faturada junto aos clientes.
                            </p>
                            <p>
                                Assim como o Índice de Perdas por Faturamento, o aumento do custo
                                para produzir essa água não cobrada do usuário, que representa
                                saída de caixa efetiva, transforma-se em prejuízo financeiro para
                                a concessionária da cidade. Para o usuário dos serviços o alto
                                índice de perdas por ligação também é perverso, pois os custos de
                                produção da água não utilizada refletem diretamente na composição
                                e formação de preços da tarifa a ser cobrada.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN049 - Índice de Perdas na Distribuição
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Perdas de Água na Distribuição demonstra, em termos
                                percentuais, o volume desperdiçado de água produzida (captada,
                                tratada, reservada, aduzida e distribuída) não consumida pelos
                                clientes. Neste índice o foco da análise é na água consumida,
                                incluindo os volumes micromedidos através de hidrômetros e os
                                volumes estimados para ligações desprovidas de hidrômetros ou com
                                medidor sem funcionamento.
                            </p>
                            <p>
                                Como nos índices de perda anteriores, o custo agregado de produção
                                (energia elétrica, pessoal, produtos químicos, etc.) transforma-se
                                em prejuízo financeiro para o concessionária da cidade e em dano
                                ambiental para a bacia hidrográfica, bem como ônus tarifário para
                                o usuário, pois a água, embora não consumida, foi produzida e
                                gerou custos efetivos de produção que são parte integrante da
                                estrutura tarifária.
                            </p>
                            <p>
                                Esse Índice, para o prestador de serviços públicos, deve ser o
                                mais baixo possível, pois reflete diretamente na composição e
                                formação de preços da tarifa a ser cobrada junto aos usuários.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN050 - Índice Bruto de Perdas Lineares
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice Bruto de Perdas Lineares demonstra, em relação ao tamanho
                                da rede de distribuição, o volume desperdiçado de água produzida
                                (captada, tratada, reservada, aduzida e distribuída) e não
                                faturada junto aos clientes.
                            </p>
                            <p>
                                Como em outras situações de perda, o custo (energia elétrica,
                                pessoal, produtos químicos, etc.) para produzir essa água, que
                                representa saída de caixa efetiva, transforma-se em prejuízo
                                financeiro para a concessionária da cidade, uma vez que não foi
                                gerado o faturamento correspondente se a água fosse entregue e
                                consumida pelo usuário, e dano ambiental para a bacia
                                hidrográfica.
                            </p>
                            <p>
                                O Índice Bruto de Perdas Lineares acima do limite ou de meta
                                estabelecida é um sintoma de ineficiência de gestão operacional
                                dos sistemas de abastecimento de água, e pode associar a perda
                                física de água à qualidade/idade da rede de distribuição
                                existente, bem como á qualidade da gestão da sua manutenção.
                            </p>
                            <p>
                                O Índice Bruto de Perdas Lineares, pelo que representa para o
                                prestador de serviços públicos, deve ser o mais baixo possível,
                                pois reflete diretamente na composição e formação de preços da
                                tarifa a ser cobrada junto aos usuários.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN028 - Índice de Faturamento de Água
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice de Faturamento de Água apresenta, em termos percentuais,
                                o
                                <b>
                                    nível de uso da capacidade instalada de produção de água
                                    tratada
                                </b>
                                da concessionária da cidade. Demonstra a proporção do Volume de
                                Água Faturado em relação ao Volume de Água Produzido. O
                                desperdício de água produzida (captada, tratada, reservada,
                                aduzida e distribuída) e não faturada junto aos clientes. Nesse
                                contexto, o custo de produção da água (energia elétrica, pessoal,
                                produtos químicos, etc.) não faturada transforma-se em prejuízo
                                financeiro para o Concessionário e dano ambiental para a bacia
                                hidrográfica, além de ônus para os usuários através da
                                incorporação desses custos na composição da Tarifa.
                            </p>
                            <p>
                                O Índice de Faturamento baixo é um
                                <b>sintoma de ineficiência</b> de gestão operacional e comercial
                                dos sistemas de abastecimento de água.
                            </p>
                            <p>
                                O Índice de Faturamento, em termos de custo fixo da capacidade
                                instalada, deve ser o mais alto possível, pois, através dos ganhos
                                de escala, reflete diretamente no barateamento da tarifa a ser
                                cobrada junto aos usuários.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN005 - Tarifa Média de Água
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice Tarifa Média de Água representa, em Reais por m³ cobrado
                                ao usuário, a aplicação efetiva da estrutura tarifaria da
                                concessionária da cidade, ou seja, a tarifa realmente praticada em
                                decorrência da prestação de serviços de abastecimento de água à
                                população urbana atendida, calculada a partir da relação entre a
                                Receita Operacional Direta de Água e o Volume de Água Faturado
                                junto aos consumidores.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN006 - Tarifa Média de Esgotos
                    </div>
                    <div class="content">
                        <div>
                            <p>
                                O Índice Tarifa Média de Esgoto representa, em R$/m³, a aplicação
                                efetiva da estrutura tarifaria para serviços de coleta, tratamento
                                e disposição final de esgotos. É a tarifa real praticada em
                                decorrência da prestação de serviços à população urbana atendida,
                                calculada a partir da relação entre a Receita Operacional Direta
                                de Serviços de Esgoto e o Volume de Esgoto Faturado junto aos
                                consumidores.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN004 - Tarifa Média Praticada
                    </div>
                    <div class="content">
                        <p>
                            O Índice Tarifa Média Praticada representa, em Reais por m³, a
                            aplicação efetiva da estrutura tarifaria da concessionária, para
                            serviços abastecimento de água, coleta e tratamento de esgotos. É a
                            tarifa real praticada em decorrência da prestação dos serviços à
                            população atendida, calculada a partir da relação entre a Receita
                            Operacional Direta de Água e Esgoto e o Volume de Faturado de Água e
                            Esgoto, junto aos consumidores.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN003 - Despesa Total com Serviços por m³
                        Faturado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Despesa Total com Serviços por m³ Faturado representa o
                                custo unitário direto e indireto, em Reais por m³, decorrente da
                                prestação dos serviços de abastecimento de água e coleta de
                                esgotos à população urbana atendida, calculada a partir da relação
                                entre as Despesas Totais com os Serviços Prestados e o Volume de
                                Faturado de Água e Esgoto, junto aos consumidores.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN026 - Despesa de Exploração por m³
                        Faturado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Despesa de Exploração por m³ faturado representa o custo
                                unitário direto, em Reais por m³, decorrente da prestação dos
                                serviços de abastecimento de água e coleta de esgotos à população
                                urbana atendida. É calculado a partir da relação entre as Despesas
                                Diretas de Exploração com os Serviços Prestados e o Volume de
                                Faturado de Água e Esgoto junto aos consumidores.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-001 - Despesa de Pessoal por m³
                        faturado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Despesa de Pessoal por m³ faturado representa a alocação dos
                                gastos efetivos com pessoal próprio, calculado a partir da relação
                                entre as Despesas com Pessoal Próprio e o Volume Total Faturado
                                Água e Esgoto.
                            </p>
                            <p>
                                Em se tratando de eficiência tarifária é desejável um índice mais
                                baixo, levando-se sempre em conta benchmarkings regionais ao
                                comparar perfis de salários.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-002 - Despesa de Serviços de
                        Terceiros por m³ Faturado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O indicador Despesa de Serviços de Terceiros por m³ Faturado
                                representa o valor efetivo com serviços de terceiros contratados
                                por m3 faturado de água e esgotos. Este indicador é calculado a
                                partir da relação entre os gastos totais com Serviços de Terceiros
                                e com o Volume Total Faturado Água e Esgoto.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN002 - Índice de Produtividade:
                        Economias Ativas por Pessoal Próprio
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Produtividade: Economias Ativas por Pessoal Próprio,
                                aferidor do nível de eficiência da alocação do pessoal próprio,
                                relaciona quantidade de pessoal ao número de Economias Ativas de
                                Água e Esgoto. Quanto maior o número de domicílios, por empregado,
                                maior é a eficiência do prestador de serviços.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN018 - Quantidade Equivalente de Pessoal
                        Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O indicador Quantidade Equivalente de Pessoal Total demonstra a
                                quantidade efetiva de pessoal alocado pela concessionária. Inclui
                                pessoal próprio e pessoal terceirizado utilizado na prestação de
                                serviços. Esse indicador torna mais transparente os gastos
                                efetivos com pessoal, caso o uso de serviços de terceiros
                                contratados seja muito intenso e de forma generalizada, ou ainda
                                como forma escapar às limitações legais de contratação.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-006 - Quantidade Equivalente de
                        Pessoal Terceirizado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O indicador Quantidade de Equivalente de Pessoal Terceirizado
                                complementa a informação sobre a quantidade efetiva de pessoal
                                alocado, oferecendo transparência sobre o emprego indiscriminado
                                da terceirização.
                            </p>
                        </div>
                    </div>

                    <div class="title">
                        <i class="dropdown icon"></i>IN019 - Índice de Produtividade:
                        Economias Ativas/Pessoal Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Produtividade de Economias Ativas por Pessoal Total
                                demonstra, em número de economias por empregado, o nível de
                                eficiência da alocação do pessoal total (próprios + terceiros) na
                                prestação dos serviços de Água e Esgoto.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN045 - Índice de Produtividade:
                        Empregados Próprios por Mil Ligações de Água
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Produtividade: Empregados Próprios por 1000 Ligações
                                de Água demonstra a eficiência da alocação do pessoal próprio na
                                prestação dos serviços.
                            </p>
                            <p>
                                Mais especificamente, este índice de produtividade informa quantos
                                empregados são necessários para atender a 1.000 ligações de água.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN048 - Índice de Produtividade: Emp.
                        Próprios/Mil Ligações de Água + Esgoto
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Produtividade: Empregados Próprios por 1000 Ligações
                                de Água + Esgoto demonstra, em empregados por mil ligações de água
                                + Esgoto, a eficiência da alocação do pessoal próprio na prestação
                                dos serviços de Água e Esgoto.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN102 - Índice de Produtividade de
                        Pessoal Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Produtividade de Pessoal Total demonstra, em número
                                ligações de água + Esgoto por empregado, a eficiência da alocação
                                do pessoal próprio + pessoal de terceiros na prestação dos
                                serviços de Água e Esgoto.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN071 - Economias Atingidas por
                        Paralisações
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                Este indicador representa a quantidade total, incluindo
                                reincidências, de residências afetadas por paralisações no sistema
                                de distribuição de água por duração igual ou superior a seis
                                horas.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN072 - Duração Média das Paralisações
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Duração Média das Paralisações representa o total de horas em
                                que ocorreram paralisações no sistema de distribuição de água
                                durante todo o ano em relação a Quantidade de Paralisações
                                ocorridas.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN073 - Economias Atingidas por
                        Intermitências
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Economias Atingidas por Intermitências representa a
                                quantidade total, incluindo repetições, de economias ativas
                                atingidas por interrupções sistemáticas prolongadas no sistema de
                                distribuição de água.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN074 - Duração Média das Intermitências
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Duração Média das Intermitências representa o tempo,
                                em horas, que ocorreram interrupções sistemáticas no sistema de
                                distribuição de água provocando intermitências prolongadas.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN077 - Duração Média dos Reparos
                        Extravasamentos de Esgotos
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Duração Média dos Reparos Extravasamentos de Esgotos
                                representa o tempo, em horas, decorrido de reparos na rede de
                                coleta de esgotos.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN082 - Extravasamentos de Esgotos por
                        Extensão de Rede
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Extravasamentos de Esgotos representa a quantidade de
                                vezes, incluindo repetições, em que foram registrados
                                extravasamentos na rede de coleta de esgotos.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN083 - Duração Média dos Serviços
                        Executados
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador de Duração Média dos Serviços Executados considera o
                                total anual de horas despendida no conjunto de ações para execução
                                dos serviços, desde a reclamação ou solicitação até a conclusão do
                                serviço, em relação a Quantidade de Serviços Executados.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN057 - Índice de Fluoretação da Água
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Fluoretação de Água representa o volume total de água
                                submetida a fluoretação, abrangendo água captada pela
                                concessionária e a água bruta importada, que são tratadas em
                                unidades de tratamento.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN075 - Incidência das Análises de Cloro
                        Residual Fora do Padrão
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Incidência das Análises de Cloro Residual Fora do Padrão
                                representa, em termos percentuais, a quantidade total anual de
                                amostras coletadas nas saídas das unidades de tratamento e no
                                sistema de distribuição de água (reservatórios e redes), para
                                aferição do teor de cloro residual livre na água, em relação à
                                Quantidade de Amostras Analisadas para Aferição de Cloro Residual.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN079 - Índice de Conformidade da
                        Quantidade de Amostras de Cloro Residual
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Conformidade da Quantidade de Amostras de Cloro
                                Residual compreende a quantidade total anual de amostras coletadas
                                nas saídas das unidades de tratamento e no sistema de distribuição
                                de água (reservatórios e redes), para aferição do teor de cloro
                                residual livre na água. Considera-se sempre a Quantidade Mínima de
                                Amostras Obrigatórias para Aferição de Cloro Residual,
                                estabelecidas com o Ente Regulador, na forma da lei.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN076 - Incidência das Análises de
                        Turbidez Fora do Padrão
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Incidência das Análises de Turbidez Fora do Padrão representa de
                                forma percentual quantidade total anual de amostras coletadas
                                na(s) saída(s) da(s) unidade(s) de tratamento e no sistema de
                                distribuição de água (reservatórios e redes), para aferição do
                                teor de turbidez da água, em relação a Quantidade de Amostras
                                Analisadas para Aferição de Turbidez.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN080 - Índice de Conformidade da
                        Quantidade de Amostras de Turbidez
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Conformidade da Qualidade de Amostras de Turbidez
                                representa percentualmente quantidade total anual de amostras
                                coletadas nas saídas das unidades de tratamento e no sistema de
                                distribuição de água (reservatórios e redes), para aferição do
                                teor de turbidez da água, em relação à Quantidade Mínima de
                                Amostras Obrigatórias para Aferição de Turbidez.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN084 - Incidência das Análises de
                        Coliformes Fecais Fora do Padrão
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Incidência das Análises de Coliformes Fecais Fora do Padrão
                                demonstra percentualmente, a quantidade total anual de amostras
                                coletadas nas saídas das unidades de tratamento e no sistema de
                                distribuição de água (reservatórios e redes), para aferição do
                                teor de coliformes totais, em relação à Quantidade Mínima de
                                Amostras Obrigatórias para Coliformes Fecais.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN085 - Índice de Conformidade da
                        Quantidade de Amostras de Coliformes Fecais
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Conformidade da Quantidade de Amostras de Coliformes
                                Fecais compreende a quantidade total anual de amostras coletadas
                                nas saídas das unidades de tratamento e no sistema de distribuição
                                de água (reservatórios e redes), para aferição do teor de
                                coliformes totais em relação a Quantidade Mínima de Amostras
                                Obrigatórias para Coliformes Fecais.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN009 - Índice de Hidrometração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Hidrometração representa, em termos percentuais, a
                                proporção das ligações de água que possuem medição de consumo
                                através de hidrômetros instalados. Altos Índices de Hidrometração
                                são características de sistemas bem administrados, com uso
                                sustentável da água e focados no desestímulo ao desperdício de
                                recursos hídricos.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN010 - Índice de Micromedição Relativo
                        ao Volume Disponibilizado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Micromedição Relativo ao Volume Disponibilizado é um
                                instrumento auxiliar na gestão de perdas de água na medida em que
                                mostra o volume de água hidrometrado no ponto de consumo, em
                                relação ao volume produzido de água disponibilizado (macromedido)
                                para distribuição na rede.
                            </p>
                            <p>
                                Índice de Micromedição Relativo ao Volume Disponibilizado mais
                                alto é indicativo de boas práticas de gestão de perdas de água e
                                gestão sustentável de recursos hídricos. E quanto menor esse
                                índice, maior será a probabilidade de haver perdas físicas de água
                                no processo de produção e distribuição.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN011 - Índice de Macromedição
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O processo de Macromedição compreende ao conjunto de medições
                                realizadas ao longo do Macroprocesso de Abastecimento de Água,
                                abrangendo as etapas de captação, tratamento (ETA), adução,
                                reservação e disponibilização para a rede de distribuição.
                            </p>
                            <p>
                                Com processos de macromedição e micromedição torna-se
                                instrumentalizada e efetiva gestão de perdas de água. Quanto mais
                                altos os Índices de macro e micromedição, mais eficiente se torna
                                a gestão do sistema de abastecimento de água.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN014 - Índice de Consumo Micromedido por
                        Economia
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Consumo Micromedido por Economia apresenta, em m³ por
                                mês, o volume de água hidrometrado por economia.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN044 - Índice de Micromedição Relativo
                        ao Consumo
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Micromedição Relativo ao Consumo apresenta, em termos
                                percentuais, a eficiência demonstrada pela relação entre o volume
                                de água micromedido e o volume de água consumido. Os sistemas mais
                                bem administrados tendem a apresentar Índice de Micromedição
                                Relativo ao Consumo próximo de 100%.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN058 - Índice de Consumo de Energia
                        Elétrica em Sistemas de Água
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Consumo de Energia Elétrica em Sistemas de
                                Abastecimento de Água representa, em kwh/m³, demonstra o nível de
                                eficiência do uso da energia elétrica no processo de produção,
                                adução, reservação e distribuição de água.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN060 - Índice de Despesa de Consumo de
                        Energia Elétrica nos Sistemas
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Despesas por Consumo de Energia Elétrica em Sistemas
                                de Abastecimento de Água representa, em termos de R$/kwh, o nível
                                de eficiência dos gastos com energia elétrica no processo de
                                produção, adução, reservação e distribuição de água da
                                concessionária.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN031 - Margem da Despesa com Pessoal
                        Próprio
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Margem da Despesa com Pessoal Próprio representa
                                quanto a concessionária da cidade destina do seu faturamento para
                                custear as despesas com pessoal próprio. O cálculo é feito pela
                                relação entre as Despesas com Pessoal Próprio e a Receita
                                Operacional Direta proveniente da prestação de serviços de água e
                                esgotos.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-003 - Margem de Serviços de
                        Terceiros
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O indicador Margem de Serviços de Terceiros demonstra o impacto da
                                terceirização na composição dos custos de pessoal do Prestador de
                                Serviços. Este indicador deve sempre ser estudado em conjunto com
                                o anterior e com o subsequente.
                            </p>
                            <p>
                                No Brasil, hoje, observa-se uma tendência generalizada de
                                contratação de serviços de terceiros como forma de se aumentar a
                                eficiência na prestação de serviços. Na maioria das vezes, mesmo
                                havendo aumento de produtividade, representa aumento de custos,
                                pois não há diminuição no custo de pessoal próprio. Isso ocorre
                                quando o objetivo claro da terceirização é buscar maior
                                especialização (qualidade). Nos casos em que o objetivo é obter e
                                ganhos de produtividade prevalece a redução de custo.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN032 - Margem da Despesa com Pessoal
                        Próprio Total (Equivalente)
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Margem da Despesa com Pessoal Próprio Total (Equivalente)
                                representa, percentualmente, quanto a concessionária da cidade
                                destina do seu faturamento para custear o pessoal total engajado
                                na prestação de serviços, inclui o pessoal interno mais o pessoal
                                proveniente de serviços de terceiros contratados.
                            </p>
                            <p>
                                Este indicador é um dos instrumentos para verificação de supostas
                                violações à boa governança através de contratação de pessoal.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN008 - Despesa Média Anual por Empregado
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Despesa Média Anual por Empregado torna transparente o custo
                                médio anual de um empregado do prestador de serviço público. O
                                cálculo é feito pela relação entre as Despesas com Pessoal Próprio
                                e a quantidade de empregados próprios.
                            </p>
                            <p>
                                Esse indicador deve ser interpretado simultaneamente com os
                                indicadores IN031, IN032 e o conjunto de indicadores de Governança
                                e Transparência na Gestão de Pessoal.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN033 - Margem do Serviço da Dívida
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Margem do Serviço da Dívida representa, percentualmente, quanto
                                a concessionária compromete do seu faturamento anual para arcar
                                com amortização de empréstimos e pagamento de jutos da dívida.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN027 - Despesa de Exploração por
                        Economia
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Despesa de Exploração por Economia representa o custo
                                unitário direto, por economia, em R$/ano/economia, decorrente da
                                prestação dos serviços de abastecimento de água e coleta de
                                esgotos à população urbana atendida.
                            </p>
                            <p>
                                Este indicador é calculado a partir da relação entre as Despesas
                                Diretas de Exploração com os Serviços Prestados e a Quantidade de
                                Economias Ativas de Água e Esgoto existentes no Município.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN030 - Margem de Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Margem de Despesas de Exploração representa, percentualmente,
                                quanto a concessionária compromete do seu faturamento para arcar
                                com todos os gastos diretamente associados à prestação de serviços
                                de abastecimento de água e esgotos.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN040 - Participação da Receita de Água
                        na Receita Operacional Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Participação da Receita Operacional de Água na Receita
                                Total representa, percentualmente, o peso da receita proveniente
                                da prestação de serviços de abastecimento de água no total da
                                receita auferida pelo da concessionária. O cálculo é feito a
                                partir da relação entre a Receita Direta de Exploração com os
                                Serviços Prestados de Água e Esgoto aos consumidores e a Receita
                                Total de Abastecimento de Água e Esgotamento Sanitário do
                                Município.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN041 - Participação da Receita de Esgoto
                        na Receita Operacional Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Participação da Receita Operacional de Esgoto na Receita
                                Total representa, percentualmente, o peso da receita proveniente
                                da prestação de serviços de esgotamento sanitário no total da
                                receita auferida pela concessionária.
                            </p>
                            <p>
                                O cálculo é feito a partir da relação entre a Receita Direta de
                                Exploração com os Serviços de Esgotamento Sanitário prestados aos
                                consumidores e a Receita Total de Abastecimento de Água e
                                Esgotamento Sanitário.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN042 - Participação da Receita
                        Operacional Indireta na Receita Operacional Total
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Participação da Receita Operacional Indireta de Água na
                                Receita Operacional Total representa, percentualmente, o peso da
                                receita indireta proveniente da prestação de outros serviços no
                                total da receita auferida pela concessionária.
                            </p>
                            <p>
                                O cálculo é feito a partir da relação entre a Receita Indireta de
                                Exploração com os Serviços Prestados de Água e Esgoto aos
                                consumidores e a Receita Operacional Total de Abastecimento de
                                Água e Esgotamento Sanitário do Município.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN029 - Índice de Evasão de Receitas
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Evasão de Receitas representa, percentualmente, o
                                quanto deixou de ser recebido pela concenssiónaria no ano, em
                                relação ao total do valor faturado junto aos usuários em
                                decorrência da prestação de serviços de abastecimento de água e
                                esgotos.
                            </p>
                            <p>
                                O calculo é feito a partir da relação entre o saldo de faturamento
                                de contas não recebido, relativo a contas em atraso (Receita –
                                Arrecadação) e a Receita Operacional Total do período.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN054 - Índice de Dias de Faturamento
                        Comprometidos com Contas a Receber
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice Dias de Faturamento Comprometido com Contas a Receber é
                                um indicador de eficiência da cobrança da concessionária e
                                apresenta a equivalência em dias de faturamento, o saldo bruto
                                acumulado de contas a receber de água e esgoto em 31 de dezembro,
                                relativamente à Receita Operacional Total do Ano.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN012 - Indicador de Desempenho
                        Financeiro
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador de Desempenho Financeiro representa, percentualmente,
                                a capacidade financeira da concessionária para cobrir com os
                                custos decorrentes da prestação de serviços de abastecimento de
                                água e de esgotamento sanitário à população do Município.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN101 - Índice de Suficiência de Caixa
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador de Suficiência de Caixa representa, percentualmente, a
                                capacidade efetiva de pagamento da concessionária, com recursos
                                provenientes da Arrecadação de Contas dos serviços faturados junto
                                aos usuários, necessária para honrar seus compromissos.
                            </p>
                            <p>
                                O cálculo é feito pela relação entre Arrecadação Total e o
                                somatório das despesas diretas de exploração dos serviços,
                                pagamento de amortização e de despesas financeiras e das despesas
                                fiscais e tributárias.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-004 - Incidência de Despesas de
                        Serviços de Terceiros na Despesa Total com Serviços
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                A Incidência de Despesas Pessoal e de Serviços de Terceiros na
                                Despesa Total com serviços, demonstra percentualmente, o valor das
                                despesas realizadas com serviços executados a partir das Despesas
                                de Exploração.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN035 - Participação das Despesas com
                        Pessoal Próprio nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Participação da Despesa de Pessoal Próprio nas
                                Despesas de Exploração demonstra, percentualmente, quanto os
                                gastos com salários e encargos consomem da Despesa de Exploração
                                da Prestação dos Serviços.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN036 - Participação das Despesas com
                        Pessoal Total nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Participação das Despesas com Pessoal Total
                                representa, percentualmente, quanto a concessionária aloca nas
                                suas Despesas de Exploração para custear o pessoal total engajado
                                na prestação de serviços, inclui o pessoal interno mais o pessoal
                                proveniente de serviços de terceiros contratados.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN037 - Participação das Despesas com
                        Energia Elétrica nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Participação das Despesas com Energia Elétrica
                                representa, percentualmente, quanto a concessionária aloca nas
                                suas Despesas de Exploração para bancar os gastos com energia
                                elétrica, necessários às operações.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN038 - Participação das Despesas com
                        Produtos Químicos nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Participação das Despesas com Produtos Químicos
                                demonstra, percentualmente, quanto a concessionária aloca nas suas
                                Despesas de Exploração para custear os produtos químicos
                                necessário à prestação de serviços de abastecimento de água e
                                esgotamento sanitário.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>GSAE-005 - Participação das Despesas com
                        Serviço da Dívida nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Índice de Participação das Despesas com Serviço da Dívida nas
                                Despesas de Exploração demonstra percentualmente a soma dos gastos
                                com juros e encargos do serviço da dívida, mais as variações
                                monetárias e cambiais pagas no ano, em relação as Despesas de
                                Exploração.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>IN039 - Participação das Outras Despesas
                        nas Despesas de Exploração
                    </div>

                    <div class="content">
                        <div>
                            <p>
                                O Indicador Participação das Outras Despesas representa,
                                percentualmente, quanto a concessionária aloca em Despesas de
                                Exploração relativamente ao custeio de outras despesas de
                                prestação de serviços.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('.accordion').accordion({ selector: { trigger: '.title' } });
    </script>
}