<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="server=mysql.ibsanbrasil.eco.br;user id=ibsanbrasil01;persistsecurityinfo=True;database=ibsanbrasil01;allowuservariables=True;Pwd=ibsan19brasil;SslMode=none" providerName="MySql.Data.MySqlClient"/>
    <add name="Local" connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=ibsanbrasil1;allowuservariables=True;Pwd=local;SslMode=none" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>